# Stellar Network
STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
STELLAR_RPC_URL=https://soroban-testnet.stellar.org

# Deployed Contract Addresses
CONFIDENTIAL_TOKEN_CONTRACT=CCC2YY37SVM4BQFFXFR65N4TBQUQZGGETLQGWTFFDX5QQ5RSWRTV63ZY
AURAFLOW_PAYROLL_CONTRACT=CBHGFLE4GB2LDLPCUTMZMZQ65G355DQ7X4FEK2GTT74B5L55IAVYBT7Q
VERIFIER_CONTRACT=CDJ3YYBMJNGVPRO6UDIVYGZTPDA3JFI7R7A3L3AQ4S3MU36FMMGVUZI6
AUDITOR_CONTRACT=CD6GIKGBSO4Q3S25YPXV5MSAYGNNPAXRQMWITBLSI2PLXZLBDNBI4HVA

# Underlying USDC on Stellar Testnet
USDC_CONTRACT=CBIELTK6YBZJU5UP2WWQEUCYKLPU6AUNZ2BQ4WWFEIE3USCIHMXQDAMA
USDC_ISSUER=GBBD47IF6LWK7P7MDEVSCWR7DPUWV3NY3DTQEVFL4NAT4AQH3ZLLFLA5

# Admin keypair (for deployment only, do not commit)
ADMIN_SECRET_KEY=
