# Stellar Network
STELLAR_NETWORK_PASSPHRASE=Test SDF Future Network ; October 2022
STELLAR_RPC_URL=https://soroban-testnet.stellar.org

# Deployed Contract Addresses
CONFIDENTIAL_TOKEN_CONTRACT=CAWBSB2ABV57UPX4SUTXCUNHLXEMMFSX7W57TIMRDQCAUOUC7UNUVLZ4
AURAFLOW_PAYROLL_CONTRACT=CAFU7ZCRDNQRBZPBHB2WCU4N7G7BIKTBZBMC7PEX4RILLBPCFB4WMALI
VERIFIER_CONTRACT=CDJ3YYBMJNGVPRO6UDIVYGZTPDA3JFI7R7A3L3AQ4S3MU36FMMGVUZI6
AUDITOR_CONTRACT=CD6GIKGBSO4Q3S25YPXV5MSAYGNNPAXRQMWITBLSI2PLXZLBDNBI4HVA

# Underlying USDC on Stellar Testnet
USDC_CONTRACT=CBIELTK6YBZJU5UP2WWQEUCYKLPU6AUNZ2BQ4WWFEIE3USCIHMXQDAMA
USDC_ISSUER=GBBD47IF6LWK7P7MDEVSCWR7DPUWV3NY3DTQEVFL4NAT4AQH3ZLLFLA5

# Admin keypair (for deployment only, do not commit)
ADMIN_SECRET_KEY=
